body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

p {
  line-height: 24px;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.basis-1\/2 {
  flex-basis: 50%;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.items-center {
  align-items: center;
}

.card {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1);
  padding: 16px;
  margin-bottom: 32px;
}

.text-center {
  text-align: center;
}

.m-0 {
  margin: 0;
}

.mb-2 {
  margin-bottom: 8px;
}

.mb-4 {
  margin-bottom: 16px;
}

.mb-8 {
  margin-bottom: 32px;
}

.mx-4 {
  margin-left: 16px;
  margin-right: 16px;
}

section#profile {
  background-image: url('https://storage.googleapis.com/learn-at-dicoding-rfqgal/becoming-google-cloud-engineer-1/juanjo-jaramillo-mZnx9429i94-unsplash.jpg');
  background-position: center;
  background-size: cover;
  color: #FFF;
  height: 100vh;
  padding: 0 320px 64px 320px;
  margin-top: -64px;
}

img#profile-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 100%;
  margin-bottom: 16px;
}

img.portofolio-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 300px;
  object-fit: contain;
  object-position: center;
}

section#profile article {
  padding: 16px 32px;
  background-color: rgb(0 0 0 / 0.5);
}

section#portofolio {
  padding: 64px 120px 0 120px;
}

footer {
  padding: 20px 0 80px 0;
}

#social-images > * {
  margin: 0 8px;
}